@model IEnumerable<MVC5Course.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<form>
    @Html.TextBox("keyword")
    <input type="submit" value="搜尋" />
</form>

@*@using PagedList
@using PagedList.Mvc

@Html.PagedListPager(Model as IPagedList,
    (p) => Url.Action("Index", new {sortBy = ViewBag.sortBy, keyword = ViewBag.keyword, pageNo = p}))*@

@Html.Partial("_Pager", Model)

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th> 
            <a href="@Url.Action("Index", "Products", new {sortBy = "+Price", keyword = ViewBag.keyword, pageNo = ViewBag.pageNo })">A</a>
            @Html.DisplayNameFor(model => model.Price)
            <a href="@Url.Action("Index", "Products", new {sortBy = "-Price", keyword = ViewBag.keyword, pageNo = ViewBag.pageNo })">D</a>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td class="@(item.Price >= 100 ? "text-danger" : "")">
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stock)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProductId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProductId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProductId })
        </td>
    </tr>
}

</table>
