@model IEnumerable<MVC5Course.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<form>
    @Html.TextBox("keyword")
    <input type="submit" value="搜尋" />
</form>

@*@using PagedList
@using PagedList.Mvc

@Html.PagedListPager(Model as IPagedList,
    (p) => Url.Action("Index", new {sortBy = ViewBag.sortBy, keyword = ViewBag.keyword, pageNo = p}))*@

@Html.Partial("_Pager", Model)

@using (Html.BeginForm())
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                <a href="@Url.Action("Index", "Products", new {sortBy = "+Price", keyword = ViewBag.keyword, pageNo = ViewBag.pageNo })">A</a>
                @Html.DisplayNameFor(model => model.Price)
                <a href="@Url.Action("Index", "Products", new {sortBy = "-Price", keyword = ViewBag.keyword, pageNo = ViewBag.pageNo })">D</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th></th>
        </tr>

        @{
            var data = Model.ToArray();
        }

        @for (var i = 0; i < data.Length; i++)
        {
            @Html.HiddenFor(modelItem => data[i].ProductId)
            <tr>
                <td>
                    @Html.EditorFor(modelItem => data[i].ProductName)
                    @Html.ValidationMessageFor(modelItem => data[i].ProductName, "", new { @class = "text-danger" })
                </td>
                <td class="@(data[i].Price >= 100 ? "text-danger" : "")">
                    @Html.EditorFor(modelItem => data[i].Price)
                    @Html.ValidationMessageFor(modelItem => data[i].Price, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.EditorFor(modelItem => data[i].Active)
                    @Html.ValidationMessageFor(modelItem => data[i].Active, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.EditorFor(modelItem => data[i].Stock)
                    @Html.ValidationMessageFor(modelItem => data[i].Stock, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = data[i].ProductId }) |
                    @Html.ActionLink("Details", "Details", new { id = data[i].ProductId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = data[i].ProductId })
                </td>
            </tr>
        }
        </table>
    <input type="submit" value="送出" />
}
